{{#if isEditing}}
<div class="field edit">
    {{#if isLabelEmpty}}
    <div class="row">
        <strong>Please insert at least a label.</strong>
    </div>
    {{/if}}
    <div class="row">
        <label>Label:</label> <span>{{input value=formElement.label }}</span>
    </div>
    <div class="row">
        <label>Description:</label> <span>{{input value=formElement.description }}</span>
    </div>
    <div class="row">
        <label>Values:</label> <span>{{textarea rows=5 value=formElement.values }}</span>
    </div>
    <div class="row">
        <label>Required:</label> <span>{{input type="checkbox" checked=formElement.required}}</span>
    </div>
    <div class="row">
        <label>Immutable:</label> <span>{{input type="checkbox" checked=formElement.immutable}}</span>
    </div>
    {{ partial "components/-form-element-save-row" }}
</div>
{{else}}
<div class="field {{if formElement.immutable 'immutable'}}"
        {{action "togglIsEditing" on="doubleClick"}}>
    <label>{{ formElement.label }}{{if formElement.required '*'}}:</label>
    <span>
        {{view "select" multiple="true" content=valuesAsList disabled=true}}
    </span>
</div>
{{/if}}
