{{#if isEditing}}
<div class="field edit" data-id={{ formElement.id }}>
    {{#if isLabelEmpty}}
    <div class="row">
        <strong>Please insert at least a label.</strong>
    </div>
    {{/if}}
    <div class="row">
        <label>Label:</label> <span>{{input value=formElement.label }}</span>
    </div>
    <div class="row">
        <label>Default:</label> <span>{{input checked=formElement.default}}</span>
    </div>
    <div class="row">
        <label>Required:</label> <span>{{input type="checkbox" checked=formElement.required}}</span>
    </div>
    <div class="row">
        <label>Immutable:</label> <span>{{input type="checkbox" checked=formElement.immutable}}</span>
    </div>
    <div class="row save-row">
        <a {{ action "removeElement" on="click"}}>
            <i class="fa fa-times-circle"></i>
        </a>
        <a {{ action "togglIsEditing" on="click"}}>
            <i class="fa fa-check-circle"></i>
        </a>
    </div>
</div>
{{else}}
<div class="field {{if formElement.immutable 'immutable'}}" data-id={{ formElement.id }}
        {{action "togglIsEditing" on="doubleClick"}}>
    <label>{{ formElement.label }}{{if formElement.required '*'}}:</label>
    <span>
        {{input disabled="true" name="formElement.name"}}
    </span>
</div>
{{/if}}
