<div id="hopper" class="row">

    <div id="hopper-first-col" {{bind-attr class=":hopper-col :columns isElementDrawerOpen:medium-13:medium-15"}}>
        <div class="hopper-content">
            <div class="hopper-meta">
                <div class="form-title">
                    {{#if isTitleBeingEdited}}
                        {{edit-title-input
                            focus-out="acceptTitleChange"
                            insert-newline="acceptTitleChange"
                            value=form.title}}
                    {{else}}
                        <h1 {{action "editTitle" on="doubleClick"}}>{{ form.title }}</h1>
                    {{/if}}
                </div>
                <div class="form-meta-toggl">
                    <ul class="button-group">
                        <li>
                            {{#link-to "fields" activeClass="active" class="small button"}}
                                Fields
                            {{/link-to}}
                        </li>
                        <li>
                            {{#link-to "form" activeClass="active" class="small button"}}
                                Form
                            {{/link-to}}
                        </li>
                    </ul>
                </div>
                <div class="form-control">
                    <a href="#" class="button small success">
                        Save
                    </a>
                    <a href="#" class="button small alert">
                        Cancel
                    </a>
                    <a href="#" class="button small">
                        Help
                    </a>
                </div>
            </div>
            <div class="hopper-outlet">
                {{yield}}
            </div>
        </div>
    </div>

    <div id="hopper-element-drawer" {{bind-attr class=":hopper-col :columns :hopper-col-last isElementDrawerOpen:medium-3:medium-1"}}>
        <div class="hopper-element-drawer">
            <div {{bind-attr class=':available-fields isElementDrawerOpen:open'}}>
                {{ element-drawer }}
            </div>
            <div class="element-drawer-control" {{action "toggleIsElementDrawerOpen" on="click"}}>
                <i id="toggl-element-drawer-icon" {{bind-attr class=":fa :hopper-col-last isElementDrawerOpen:fa-caret-right:fa-caret-left"}}>
                </i>
            </div>
        </div>
    </div>
</div>
