<div id="hopper" class="row">

    <div id="hopper-first-col" {{bind-attr class=":hopper-col :columns isElementDrawerOpen:medium-13:medium-15"}}>
        <div class="hopper-content">
            <div class="hopper-meta">
                <div class="form-title">
                    <h1>My awesome Festival</h1>
                </div>
                <div class="form-meta-toggl">
                    <ul class="button-group">
                        <li><a href="#" class="small button active">Fields</a></li>
                        <li><a href="#" class="small button">Form</a></li>
                    </ul>
                </div>
                <div class="form-control">
                    <a href="#" class="button small success">
                        Save
                    </a>
                    <a href="#" class="button small alert">
                        Cancel
                    </a>
                    <a href="#" class="button small">
                        Help
                    </a>
                </div>
            </div>
            <div class="hopper-fields">
                <div> <!-- this will be replaced with a component for choosen fields -->
                    <div class="fieldset">
                        <h2>Director</h2>
                        <div class="field immutable">
                            <label>A kindof long First Name*:</label>
                            <span><input type="text" name="first_name" disabled></span>
                        </div>
                        <div class="field immutable">
                            <label>Last Name*:</label>
                            <span><input type="text" name="first_name" disabled></span>
                        </div>
                    </div>
                    <div class="field">
                        <label>Genres*:</label>
                        <span>
                            <input type="checkbox" name="genres" value="action" disabled> Action <br/>
                            <input type="checkbox" name="genres" value="documentatry" disabled> Documentary <br/>
                            <input type="checkbox" name="genres" value="drama" disabled> Drama <br/>
                            <input type="checkbox" name="genres" value="sci-fi" disabled> Sci-Fi <br/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hopper-element-drawer" {{bind-attr class=":hopper-col :columns :hopper-col-last isElementDrawerOpen:medium-3:medium-1"}}>
        <div class="hopper-element-drawer">
            <div {{bind-attr class=':available-fields isElementDrawerOpen:open'}}>
                <div> <!-- this will be replaced with a component for the available fields -->
                    <ul>
                        <li><i class="fa fa-angle-double-left"></i> Fieldset</li>
                        <li><i class="fa fa-angle-double-left"></i> Charfield</li>
                        <li><i class="fa fa-angle-double-left"></i> Textfield</li>
                        <li><i class="fa fa-angle-double-left"></i> Select</li>
                        <li><i class="fa fa-angle-double-left"></i> Multiselect</li>
                        <li><i class="fa fa-angle-double-left"></i> Datefield</li>
                        <li><i class="fa fa-angle-double-left"></i> Datetimefield</li>
                        <li><i class="fa fa-angle-double-left"></i> Filefieled</li>
                        <li><i class="fa fa-angle-double-left"></i> Imagefield</li>
                        <li><i class="fa fa-angle-double-left"></i> Integerfield</li>
                        <li><i class="fa fa-angle-double-left"></i> Mailfield</li>
                        <li><i class="fa fa-angle-double-left"></i> Urlfield</li>
                        <li><i class="fa fa-angle-double-left"></i> Passwordfield</li>
                        <li><i class="fa fa-angle-double-left"></i> Hiddenfield</li>
                    </ul>
                </div>
            </div>
            <div class="element-drawer-control" {{action "toggleIsElementDrawerOpen" on="click"}}>
                <i id="toggl-element-drawer-icon" {{bind-attr class=":fa :hopper-col-last isElementDrawerOpen:fa-caret-right:fa-caret-left"}}>
                </i>
            </div>
        </div>
    </div>
</div>
