
<div class="meta-form"> <!-- this will be replaced with a component for form manipilation -->
    <div class="row">
        <div class="columns medium-5 form-method">
            <label>Form method:</label>
            <span>
                {{view "select" content=model.possibleMethods }}
            </span>
        </div>
        <div class="columns medium-11">
            {{input placeholder="Form action" value=model.action}}
        </div>
    </div>

    <div class="row">
        <div class="columns medium-5">
            {{input placeholder="Form enctype" value=model.enctype}}
        </div>
        <div class="columns medium-6">
            {{input placeholder="Form classes" value=model.formClasses}}
        </div>
        <div class="columns medium-5">
            {{input placeholder="Field classes" value=model.fieldClasses}}
        </div>
    </div>
</div>
